<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes | Trevor Lawrence</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h1><a href="/">Book Notes</a></h1>
        <nav>
            <a href="/?sort=recency" class="<%= (typeof sort!=='undefined' && sort==='recency') ? 'active' : '' %>">Recency</a>
            <a href="/?sort=rating" class="<%= (typeof sort!=='undefined' && sort==='rating') ? 'active' : '' %>">Rating</a>
            <a href="/?sort=title" class="<%= (typeof sort!=='undefined' && sort==='title') ? 'active' : '' %>">Title</a>
        </nav>
    </header>
    
    <main class="container">
        <%- body %>
    </main>
    <script src="/main.js"></script>

</body>
</html>